*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-icon-container{
    position: absolute;
    top: 3rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.3s  linear;
    -webkit-transition: all 0.3s  linear;
    -moz-transition: all 0.3s  linear;
    -ms-transition: all 0.3s  linear;
    -o-transition: all 0.3s  linear;
}
.menu-icon-container:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

